body {
 background-color: rgba(102, 202, 152, 0.5);
}

h1{
    border: 2px solid black;
    padding: 2%;
    width: 45%;
    margin: 0 auto;
}

form {
    border: 2px solid black;
    padding: 2%;
    width: 45%;
    margin: 20px auto;
}